<h1>My booking</h1>

<ul class="list-group">
  <% @booking.each do |booking| %>
    <li class="list-group-item"><%= booking.product.name %></li>
    <li class="list-group-item"><%= booking.user.first_name %></li>
    <li class="list-group-item"><%= booking.date %></li>
  <% end %>
</ul>

<%= link_to 'See all my bookings', booking_requests_path %>
