.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.btn-ghost:hover {
  opacity: 1;
  background-color: #28435f;
  color: #DAE1E7;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #27496D;
  color: white;
}

.btn-search{
  background-color: #142850;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-search:hover {
  background: #27496D;
  color: white;
}
