#card_signup {

    overflow: hidden;
    height: 750px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px;
    width: 600px;
    justify-content: center;
    margin-left: 280px;
}

#card_signup h1 {
  margin-top: 20px;
  text-align: center;
}
