<div class= "container">
  <div id="card_signup_create">
    <h1 class="mb-3">Create a new product</h1>

  <%= render"form", product: @product %>


  <%= link_to 'Back to list of products', products_path %>
  </div>
</div>
